<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
   <ul class="navbar-nav">
      <li><a  routerLink="/" class="nav-link">View All Persons</a></li>
      <li><a  routerLink="/search" class="nav-link">Search Person by Name</a></li>
    
    </ul>
    
    </nav>
    
    </header>