
<div class="col-md-6">
    <h2 class="text-center">Search Person by First Name</h2>
    <form>
      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="name" [(ngModel)]="name" placeholder="First Name" name="name"  id="name">
        <button  (click)="createEmployee(this.name)">Search</button>  
    </div>
   
    </form>
    </div>

<div *ngIf="person">
    {{person.firstName}} {{person.lastName}}
</div>

<div *ngIf="!person">
   No Record
</div>

