<div class="col-md-6">
    <h2 class="text-center">All Persons</h2>
    <table class="table table-striped">
 
    <thead>
    <tr>
     
      <th>First Name</th>
      <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            </tr>
    </tbody>
      </table>
  
    </div>